#logout1{
    border: none ;
    background-color: #14141400;
    margin-top: -3px ;
    width: 100px ;
    margin-left: -8px;
    color: rgba(255, 255, 255, 0.55);
}

#logout1:hover{
    color : rgba(255, 255, 255, 0.75) ; 
}