.total{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    height: fit-content;
}

.leftbox{

}

.rightbox{
    display: flex;
    flex-direction: column;


}

.sellerdesc{
    margin-top: 40px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}
